@use "sass:color";

$body--font-family-serif: "Garamond", serif;
$body--font-family-sans-serif: "Candara", sans-serif;

$body--text-color: rgb(35, 35, 35);
$body--link-hover-color: rgb(255, 180, 55);
$menu--border-color: rgb(232, 232, 232);
